language: generic

sudo: false

addons:
  apt:
    sources:
      - cassou-emacs
    packages:
      - emacs24

before_install:
  - emacs --version
  - curl -fsSkL https://raw.github.com/cask/cask/master/go | python
  - export PATH=${PATH}:${HOME}/.cask/bin
  - cask install

script:
  - make compile
  - make test
